/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/*tailwind css*/
@import "tailwindcss";


/*Globales*/

:root{

/* Paleta de colores*/
--mint-green: #c7ede4ff;
--mint-green-2: #d5fff3ff;
--rose-quartz: #af9ab2ff;
--dark-magenta: #820b8aff;
--dark-violet: #672a4eff;
--white: #ffffffff;
}


