  /*tailwind css*/
@import "tailwindcss";


/*Globales*/

:root{

/* Paleta de colores*/
--mint-green: #c7ede4ff;
--mint-green-2: #d5fff3ff;
--rose-quartz: #af9ab2ff;
--dark-magenta: #820b8aff;
--dark-violet: #672a4eff;
--white: #ffffffff;
--color-completed-bg: #a8e6cf; /* Verde pastel */
--color-pending-bg: #ffdd94; /* Naranja pastel */
--color-completed-btn: #4CAF50; /* Verde oscuro */
--color-pending-btn: #d35400; /* Naranja oscuro */
--color-checkbox-completed: #4CAF50; /* Verde claro */
}

/** Google Fonts **/

.ubuntu-light {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
  }
  

/** Clases propias */


.header, .footer{

    background-color: var(--dark-violet);
}

.main{

    background-color: var(--rose-quartz);
}

.login{

  background-color: var(--white);

}

.login-btn, .register-btn, .logout-btn, .addTaskBtn, .createTaskBtn{

  background-color: var(--mint-green-2);
}

.login-btn:hover, .register-btn:hover, .logout-btn:hover, .addTaskBtn:hover, .createTaskBtn:hover{

  background-color: var(--mint-green);
  cursor: pointer;
}

.dashboard{

  background-color: var(--white);
}

/* Estilo para tareas completadas */
.completed {
  background-color: var(--color-completed-bg);

}

/* Estilo para tareas pendientes */
.pending {
  background-color: var(--color-pending-bg);
}

.task-info{
  background-color: var(--white);
}

.date{
  color: gray;
}

.checkbox-completed{
  accent-color: var(--color-checkbox-completed);
  cursor: pointer;
}

.btn-completed{
  background-color: var(--color-completed-btn);
  color: var(--white);
}

.btn-pending{
  background-color: var(--color-pending-btn);
  color: var(--white)
}


.delete, .edit, .save, .cancel{
  background-color: gray;
  color: var(--white);
}


.delete:hover, .cancel:hover{
  background-color: red;
  cursor: pointer;
}

.edit:hover, .save:hover{
  background-color: var(--mint-green);
  cursor: pointer;
}